<div class="px-5 py-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Sr No</th>
                <th scope="col">Company Name</th>
                <th scope="col">Drive Date</th>
                <th scope="col">Drive Location</th>
                <th scope="col">Offered CTC</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of companyList;let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{item?.companyId}}</td>
                <td>{{item?.driveDate | date:'dd MMM yyyy'}}</td>
                <td>{{item?.driveLocation}}</td>
                <td>{{item?.offeredCtc}}</td>
                <td><button type="button" class="btn btn-primary" (click)="applyNow(item)">Apply Now !</button></td>
            </tr>

        </tbody>
    </table>
</div>