<div class="px-3">

    <div class="px-3 pt-1 pb-2">
        <div class="row">
            <div class="col-12">
                <h1 class="PageHeader3 w-100  ml-2 ml-lg-0 ml-md-0 ml-xl-0">Add Drive Details Form</h1>
            </div>
        </div>
    </div>

    <form name="productForm" #requestForm="ngForm">
        <div class="row ml-0 mr-0">
            <div class="grey-panel  col-lg-12  ">

                <div class="row mx-0 bg-white mb-2 px-2 py-3 border">


                    <!--Company Selection Dropdown list  -->

                    <div class="col-12 col-lg-4 col-md-3 mb-2">
                        <div class="form-group mr-1 p-0 mb-0">
                            <label> Select Company Name <span class="redDanger"> * </span>
                            </label>
                            <select class="form-control" [(ngModel)]="drive.companyId" name="company"
                                #company="ngModel" [ngClass]="{ 'is-invalid': company.errors && company.touched }"
                                required>
                                <option hidden [value]="undefined" selected>Select a Company Details</option>
                                <option *ngFor="let item of companyList" [ngValue]="item.companyId">
                                    {{item.companyId}} : {{item.companyName}}
                                </option>
                            </select>
                            <div *ngIf="company.touched && company.errors">
                                <div *ngIf="company.errors?.required" class="error-msg">
                                    Company Name is required
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <div class="col-12 col-lg-4 col-md-3 mb-2">
                        <div class="form-group mr-1 p-0 mb-0 ">
                            <label class="pt-1">Drive Date <span class="redLabel">*</span></label>
                            <input type="date" class="form-control " value="" placeholder="Enter Drive Date"
                                [(ngModel)]="drive.driveDate" name="Date"
                                [ngClass]="{ 'is-invalid': Date.errors && Date.touched }" #Date="ngModel" required>
                            <div *ngIf="Date.touched && Date.errors">
                                <div class="error-msg" *ngIf="Date.errors?.required">
                                    Drive Date is required<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-3 mb-2">
                        <div class="form-group mr-1 p-0 mb-0 ">
                            <label class="pt-1">Drive Location <span class="redLabel">*</span></label>
                            <input type="text" class="form-control " value="" placeholder="Enter Drive Location"
                                [(ngModel)]="drive.driveLocation" name="Location"
                                [ngClass]="{ 'is-invalid': Location.errors && Location.touched }" #Location="ngModel" required>
                            <div *ngIf="Location.touched && Location.errors">
                                <div class="error-msg" *ngIf="Location.errors?.required">
                                    Drive Location is required<br>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-lg-4 col-md-3 mb-2">
                        <div class="form-group mr-1 p-0 mb-0 ">
                            <label class="pt-1">Offered CTC <span class="redLabel">*</span></label>
                            <input type="text" class="form-control " value="" placeholder="Enter Offered CTC"
                                [(ngModel)]="drive.offeredCtc" name="CTC"
                                [ngClass]="{ 'is-invalid': CTC.errors && CTC.touched }" #CTC="ngModel" required>
                            <div *ngIf="CTC.touched && CTC.errors">
                                <div class="error-msg" *ngIf="CTC.errors?.required">
                                    Offered CTC is required<br>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-lg-4 col-md-3 mb-2">
                        <div class="form-group mr-1 p-0 mb-0 ">
                            <label class="pt-1">SSC Marks<span class="redLabel"> *</span></label>
                            <input type="number" class="form-control " value="" placeholder="Enter SSC Marks "
                                [(ngModel)]="drive.sscMarks" name="SSC"
                                [ngClass]="{ 'is-invalid': SSC.errors && SSC.touched }" #SSC="ngModel" required>
                            <div *ngIf="SSC.touched && SSC.errors">
                                <div class="error-msg" *ngIf="SSC.errors?.required">
                                    SSC Marks are required<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-3 mb-2">
                        <div class="form-group mr-1 p-0 mb-0 ">
                            <label class="pt-1">HSC Marks<span class="redLabel"> *</span></label>
                            <input type="number" class="form-control " value="" placeholder="Enter HSC Marks "
                                [(ngModel)]="drive.hscMarks" name="HSC"
                                [ngClass]="{ 'is-invalid': HSC.errors && HSC.touched }" #HSC="ngModel" required>
                            <div *ngIf="HSC.touched && HSC.errors">
                                <div class="error-msg" *ngIf="HSC.errors?.required">
                                    HSC Marks are required<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-3 mb-2">
                        <div class="form-group mr-1 p-0 mb-0 ">
                            <label class="pt-1">Graduation Marks/CGPA<span class="redLabel"> *</span></label>
                            <input type="number" class="form-control " value="" placeholder="Enter Marks or CGPA of your recent degree"
                                [(ngModel)]="drive.graduationMarks" name="Graduation"
                                [ngClass]="{ 'is-invalid': Graduation.errors && Graduation.touched }"
                                #Graduation="ngModel" required>
                            <div *ngIf="Graduation.touched && Graduation.errors">
                                <div class="error-msg" *ngIf="Graduation.errors?.required">
                                    Graduation Marks/CGPA are required<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Dropdown to select if Active backlogs are allowed or not -->
                    <div class="col-12 col-lg-4 col-md-3 mb-2">
                        <div class="form-group mr-1 p-0 mb-0">
                            <label>Is Active Backlog allowed?<span class="redDanger"> * </span>
                            </label>
                            <select class="form-control" [(ngModel)]="drive.isActiveBacklogAllowed" name="ActiveBacklogAllowed"
                                #ActiveBacklogAllowed="ngModel"
                                [ngClass]="{ 'is-invalid': ActiveBacklogAllowed.errors && ActiveBacklogAllowed.touched }"
                                required>
                                <option hidden [value]="undefined" selected>Select if Active Backlogs are allowed</option>
                                <option value="Y">Yes
                                </option>
                                <option value="N">No
                                </option>
                            </select>
                            <div *ngIf="ActiveBacklogAllowed.touched && ActiveBacklogAllowed.errors">
                                <div *ngIf="ActiveBacklogAllowed.errors?.required" class="error-msg">
                                    Active Backlogs Allowed Status is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-12 col-lg-4 col-md-3 mb-2">
                        <div class="form-group mr-1 p-0 mb-0 ">
                            <label class="pt-1">Is Active Backlog allowed?<span class="redLabel"> *</span></label>
                            <input type="text" class="form-control " value="" placeholder="Select Active Backlog Allowed Status"
                                [(ngModel)]="drive.isActiveBacklogAllowed" name="ActiveBacklog"
                                [ngClass]="{ 'is-invalid': ActiveBacklog.errors && ActiveBacklog.touched }"
                                #ActiveBacklog="ngModel" required>
                            <div *ngIf="ActiveBacklog.touched && ActiveBacklog.errors">
                                <div class="error-msg" *ngIf="ActiveBacklog.errors?.required">
                                    Active Backlog Allowed Status is required<br>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-12 col-lg-4 col-md-3 mb-2">
                        <div class="form-group mr-1 p-0 mb-0 ">
                            <label class="pt-1">Max Number of Active Backlogs Allowed<span class="redLabel"> *</span></label>
                            <input type="number" class="form-control " value=""
                                placeholder="Enter Max Number of Active Backlogs Allowed"
                                [(ngModel)]="drive.maxActiveBacklogAllowed" name="MaxActiveBacklogs"
                                [ngClass]="{ 'is-invalid': MaxActiveBacklogs.errors && MaxActiveBacklogs.touched }"
                                #MaxActiveBacklogs="ngModel" required>
                            <div *ngIf="MaxActiveBacklogs.touched && MaxActiveBacklogs.errors">
                                <div class="error-msg" *ngIf="MaxActiveBacklogs.errors?.required">
                                    Max Number of Active Backlogs Allowed are required<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Dropdown to select if Past backlogs are allowed -->

                    <div class="col-12 col-lg-4 col-md-3 mb-2">
                        <div class="form-group mr-1 p-0 mb-0">
                            <label>Are Past Backlogs allowed?<span class="redDanger"> * </span>
                            </label>
                            <select class="form-control" [(ngModel)]="drive.isTotalBacklogAllowed" name="TotalBacklogAllowed"
                                #TotalBacklogAllowed="ngModel"
                                [ngClass]="{ 'is-invalid': TotalBacklogAllowed.errors && TotalBacklogAllowed.touched }"
                                required>
                                <option hidden [value]="undefined" selected>Select if Active Backlogs are allowed</option>
                                <option value="Y">Yes
                                </option>
                                <option value="N">No
                                </option>
                            </select>
                            <div *ngIf="TotalBacklogAllowed.touched && TotalBacklogAllowed.errors">
                                <div *ngIf="TotalBacklogAllowed.errors?.required" class="error-msg">
                                    Past Backlogs Allowed Status is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-12 col-lg-4 col-md-3 mb-2">
                        <div class="form-group mr-1 p-0 mb-0 ">
                            <label class="pt-1">Is Past Backlog allowed?<span class="redLabel"> *</span></label>
                            <input type="text" class="form-control " value=""
                                placeholder="Select If Past Backlog Allowed or Not"
                                [(ngModel)]="drive.isTotalBacklogAllowed" name="HistBacklog"
                                [ngClass]="{ 'is-invalid': HistBacklog.errors && HistBacklog.touched }"
                                #HistBacklog="ngModel" required>
                            <div *ngIf="HistBacklog.touched && HistBacklog.errors">
                                <div class="error-msg" *ngIf="HistBacklog.errors?.required">
                                    Past Backlog Allowed Status is required<br>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-12 col-lg-4 col-md-3 mb-2">
                        <div class="form-group mr-1 p-0 mb-0 ">
                            <label class="pt-1">Max Number of Past Backlogs Allowed<span class="redLabel"> *</span></label>
                            <input type="number" class="form-control " value=""
                                placeholder="Enter Max Number of Past Backlogs Allowed"
                                [(ngModel)]="drive.maxTotalBacklogAllowed" name="MaxHistBacklog"
                                [ngClass]="{ 'is-invalid': MaxHistBacklog.errors && MaxHistBacklog.touched }"
                                #MaxHistBacklog="ngModel" required>
                            <div *ngIf="MaxHistBacklog.touched && MaxHistBacklog.errors">
                                <div class="error-msg" *ngIf="MaxHistBacklog.errors?.required">
                                    Max Number of Past Backlogs Allowed are required<br>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row ml-0 mr-0 e">
                    <div class="col-12 col-md-12 ml-md-auto text-md-right text-right pt-4 pb-4">

                        <button class=" btn btn-primary" (click)="submitRequest()">Submit</button>
                    </div>
                </div>
            </div>
        </div>


    </form>

</div>