<div class="center-box" style="height: 40%; width: 20%; margin: 11%40%">
  <h1>Admin Login</h1>
  <hr />
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="userId" class="form-label">username</label>
      <input
        type="email"
        class="form-control"
        id="userId"
        formControlName="userId"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          loginForm.controls.userId.invalid && loginForm.controls.userId.dirty
        "
      >
        please enter a valid user username.
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          loginForm.controls.password.invalid &&
          loginForm.controls.password.dirty
        "
      >
        please enter a valid password.
      </div>
    </div>

    <button
      [disabled]="loginForm.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Login
    </button>
    <div *ngIf="errorMessage" class="text-danger">
      {{ errorMessage }}
    </div>
  </form>
  <hr />
</div>
