<p>profile works!</p>


<div *ngIf="studentProfile!=undefined && studentProfile!=null">
    <p>Full Name: {{studentProfile.firstName}} {{studentProfile.middleName}} {{studentProfile.lastName}}</p>
    <p>Roll No.: {{studentProfile.rollNumber}}</p>
    <p>Date of Birth: {{studentProfile.dateOfBirth|date:'dd-MMM-yyyy'}}</p>
    <p>Gender: {{studentProfile.gender}}</p>
    <p>Mobile Number: {{studentProfile.mobileNumber}}</p>
    <p>Email Id: {{studentProfile.email}}</p>
    <p>Current Address: {{studentProfile.currentAddress}}</p>
    <p>Permanent Address: {{studentProfile.permanentAddress}}</p>
    <p>Course: {{studentProfile.course}}</p>
    <p>Admission Year: {{studentProfile.admissionYear}}</p>
    <p>Passing Year: {{studentProfile.passingYear}}</p>
    <p>Current Semester: {{studentProfile.Semester}}</p>
    <p>Divisionddress: {{studentProfile.division}}</p>
    <p>College Name: {{studentProfile.collegeName}}</p>
    <p>SSC Passing Year: {{studentProfile.sscPassingYear}}</p>
    <p>SSC Marks: {{studentProfile.sscMarks}}</p>
    <p>HSC Passing Year: {{studentProfile.hscPassingYear}}</p>
    <p>HSC Marks: {{studentProfile.hscMarks}}</p>
    <p>Highest Qualification Name: {{studentProfile.highestQualificationName}}</p>
    <p>Highest Qualification Passing Year: {{studentProfile.highestQualificationPassingYear}}</p>
    <p>Highest Qualification Marks: {{studentProfile.highestQualificationMarks}}</p>
    <p>Other Graduation Name: {{studentProfile.otherGraduationName}}</p>
    <p>Other Graduation Passing Year: {{studentProfile.otherGraduationPassingYear}}</p>
    <p>Other Graduation Marks: {{studentProfile.otherGraduationMarks}}</p>
    <p>Gap: {{studentProfile.gap}}</p>
    <p>Gap Start Date: {{studentProfile.gapStartDate|date:'dd-MMM-yyyy'}}</p>
    <p>Gap End Date: {{studentProfile.gapEndDate|date:'dd-MMM-yyyy'}}</p>
    <p>Sem 1 SGPA: {{studentProfile.sem1Sgpa}}</p>
    <p>Sem 2 SGPA: {{studentProfile.sem2Sgpa}}</p>
    <p>Sem 3 SGPA: {{studentProfile.sem3Sgpa}}</p>
    <p>Sem 4 SGPA: {{studentProfile.sem4Sgpa}}</p>
    <p>Aggregate CGPA: {{studentProfile.aggCgpa}}</p>
    <p>Active Backlog: {{studentProfile.activeBacklog}}</p>
    <p>Total Backlog: {{studentProfile.totalBacklog}}</p>
    <p>Experience: {{studentProfile.experience}}</p>
    <p>Experience Start Date: {{studentProfile.experienceStartDate|date:'dd-MMM-yyyy'}}</p>
    <p>Experience End Date: {{studentProfile.experienceEndDate|date:'dd-MMM-yyyy'}}</p>
    <p>Company Name: {{studentProfile.companyName}}</p>
    <p>Role: {{studentProfile.role}}</p>
</div>

<div *ngIf="errorMessage!=undefined && errorMessage!=null">
    <p>Error: {{errorMessage}}</p>
</div>