<div *ngIf="studentProfile!=undefined && studentProfile!=null">
    <p><b>Full Name:</b>{{studentProfile.firstName}} {{studentProfile.middleName}} {{studentProfile.lastName}}</p>
    <p><b>Roll No.:</b> {{studentProfile.rollNumber}}</p>
    <p><b>Date of Birth:</b> {{studentProfile.dateOfBirth|date:'dd-MMM-yyyy'}}</p>
    <p><b>Gender:</b> {{studentProfile.gender}}</p>
    <p><b>Mobile Number:</b> {{studentProfile.mobileNumber}}</p>
    <p><b>Email Id:</b> {{studentProfile.email}}</p>
    <p><b>Current Address:</b> {{studentProfile.currentAddress}}</p>
    <p><b>Permanent Address:</b> {{studentProfile.permanentAddress}}</p>
    <p><b>Course:</b> {{studentProfile.course}}</p>
    <p><b>Admission Year:</b> {{studentProfile.admissionYear}}</p>
    <p><b>Passing Year:</b> {{studentProfile.passingYear}}</p>
    <p><b>Current Semester:</b> {{studentProfile.Semester}}</p>
    <p><b>Divisionddress:</b> {{studentProfile.division}}</p>
    <p><b>College Name:</b> {{studentProfile.collegeName}}</p>
    <p><b>SSC Passing Year:</b> {{studentProfile.sscPassingYear}}</p>
    <p><b>SSC Marks:</b> {{studentProfile.sscMarks}}</p>
    <p><b>HSC Passing Year:</b> {{studentProfile.hscPassingYear}}</p>
    <p><b>HSC Marks:</b> {{studentProfile.hscMarks}}</p>
    <p><b>Highest Qualification Name:</b> {{studentProfile.highestQualificationName}}</p>
    <p><b>Highest Qualification Passing Year:</b> {{studentProfile.highestQualificationPassingYear}}</p>
    <p><b>Highest Qualification Marks:</b> {{studentProfile.highestQualificationMarks}}</p>
    <p><b>Other Graduation Name:</b> {{studentProfile.otherGraduationName}}</p>
    <p><b>Other Graduation Passing Year:</b> {{studentProfile.otherGraduationPassingYear}}</p>
    <p><b>Other Graduation Marks:</b> {{studentProfile.otherGraduationMarks}}</p>
    <p><b>Gap:</b> {{studentProfile.gap}}</p>
    <p><b>Gap Start Date: </b>{{studentProfile.gapStartDate|date:'dd-MMM-yyyy'}}</p>
    <p><b>Gap End Date:</b> {{studentProfile.gapEndDate|date:'dd-MMM-yyyy'}}</p>
    <p><b>Sem 1 SGPA:</b> {{studentProfile.sem1Sgpa}}</p>
    <p><b>Sem 2 SGPA:</b> {{studentProfile.sem2Sgpa}}</p>
    <p><b>Sem 3 SGPA:</b> {{studentProfile.sem3Sgpa}}</p>
    <p><b>Sem 4 SGPA:</b> {{studentProfile.sem4Sgpa}}</p>
    <p><b>Aggregate CGPA:</b> {{studentProfile.aggCgpa}}</p>
    <p><b>Active Backlog:</b> {{studentProfile.activeBacklog}}</p>
    <p><b>Total Backlog:</b> {{studentProfile.totalBacklog}}</p>
    <p><b>Experience:</b> {{studentProfile.experience}}</p>
    <p><b>Experience Start Date:</b> {{studentProfile.experienceStartDate|date:'dd-MMM-yyyy'}}</p>
    <p><b>Experience End Date:</b> {{studentProfile.experienceEndDate|date:'dd-MMM-yyyy'}}</p>
    <p><b>Company Name: </b>{{studentProfile.companyName}}</p>
    <p><b>Role:</b> {{studentProfile.role}}</p>
</div>

<div *ngIf="errorMessage!=undefined && errorMessage!=null">
    <p>Error: {{errorMessage}}</p>
</div>

<div *ngIf="studentProfile==undefined && studentProfile==null">
    <app-create-profile></app-create-profile>
</div>