<hr class="pt-2">

<div class="row py-1 px-5 container-fluid">

    <div class="col-4" (click)="navigateToChild('company')"><a class="nav-link"><input type="radio"
                [checked]="selectedTab=='company'"> Apply for New Company</a></div>
    <div class="col-4" (click)="navigateToChild('drive')"><a class="nav-link"><input type="radio"
                [checked]="selectedTab=='drive'"> Upcoming Drives</a></div>
    <div class="col-4" (click)="navigateToChild('results')"><a class="nav-link"><input type="radio"
                [checked]="selectedTab=='results'"> Check Drive Results</a></div>
</div>
<hr class="">


<router-outlet></router-outlet>