<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Placement Cell</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/userhome/drives"]'>Drives</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/userhome/companies"]'>Companies</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ userId }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" (click)="logout()">logout</a>
          <a class="dropdown-item" href="#">profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">help</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- User home details to be shown here -->
<!-- all the upcoming drives -->
<!-- all the company details that admin has added -->

<!-- Details -->
<router-outlet></router-outlet>


