<hr class="pt-2">

<div class="row py-1 px-5 container-fluid">

  <div class="col-4" (click)="navigateToChild('allCompanies')"><a class="nav-link"><input type="radio"
        [checked]="selectedTab=='allCompanies'"> All Companies</a></div>

  <div class="col-4" (click)="navigateToChild('drive')"><a class="nav-link"><input type="radio"
        [checked]="selectedTab=='drive'"> Apply for a Drive</a></div>
  
  <div class="col-4" (click)="navigateToChild('myDrives')"><a class="nav-link"><input type="radio"
        [checked]="selectedTab=='myDrives'"> My Drives</a></div>
</div>
<hr class="">


<router-outlet></router-outlet>